{% extends "base.html" %}
{% load bootstrap3 %}
{% load tz %}

{% block content %}

{% if result %}
  <div class="alert alert-success" role="alert">
    <p>{{ result }}</p>
  </div>
{% endif %}
{% if not user.email_verified %}
    <div class="alert alert-danger" role="alert">
      <p>You have not verified your email address! We can not send you emails until you do that. Click <a href="">here</a> fix this.</p>
  </div>
{% endif %}
{% if not user.phone_verified %}
    <div class="alert alert-danger" role="alert">
      <p>You have not verified your phone number! We can not send you text messages until you do that. Click <a href="">here</a> to fix this.</p>
  </div>
{% endif %}
{% if user_form.non_field_errors %}
  {{ user_form.non_field_errors }}
{% endif %}
{% if notification_form.non_field_errors %}
  {{ notification_form.non_field_errors }}
{% endif %}

<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Profile</h1>
  </div>
</div>
<div class="row">
  {% localtime on %}
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <form method="post" action="" class="form">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {% bootstrap_form notification_form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
      {% endbuttons %}
    </form>
  </div>
  {%  endlocaltime %}
</div>

{% endblock %}